@import "./fonts.css";

*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-font: 'Karla', sans-serif;
    --primary-background: #2B2738;
}

a{
    text-decoration: none;
    color: inherit;
}

/* HEADER */
/* HEADER */
/* HEADER */

header{
    width: 100vw;
    height: 10vh;
    background-color: var(--primary-background);
    color: white;
    font-family: var(--primary-font);
}

header > nav {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

header > nav > ul {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header > nav > ul li {
    list-style-type: none;
}

header > nav > ul li a {
    text-decoration: none;
    color: inherit;
}

main{
    width: 100vw;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-background);
    color: white;
}


/* MAIN */
/* MAIN */
/* MAIN */

/* MAIN TEXT */

#mainText{
    width: 50%;
    min-height: 30vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
}

#mainText > h1 {
    font-weight: 700;
    font-size: 3rem;
}

#mainText > p {
    margin: 1rem auto;
    font-weight: 400;
    font-size: 1.5rem;
}


/* SIGNUP */

#signupForm > h1 {
    font-weight: 700;
    font-size: 2rem;
    color: white;

}

#signupForm > p {
    margin: 1rem auto;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;

}

/* SIGNUP FORM */

#signupForm{
    width: 50%;
    height: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
}

#signupForm > form {
    width: 50%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 2rem auto;
}

#signupForm > form div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

label{
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 1rem 0.5rem 0;
    color: white;
    width: 40%;
}

input{
    width: 60%;
    height: 2rem;
    color: gray;
}

.signUpButton{
    width: 100%;
    height: 3rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 1rem auto;
}


